body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'DM Mono', sans-serif;
}

#header-container {
  background-color: #2a3844; /* Lighter background color */
  padding: 8px;
  text-align: left;
}

#account-level {
  margin: 0;
  font-size: 1em; /* Adjusted font size */
}

#account-level strong {
  font-weight: bold; /* Make the "C" bold */
}

#buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  white-space: nowrap;
}

.button {
  margin: 0 5px; /* Adjusted margin */
  padding: 8px 15px; /* Adjusted padding */
  background-color: #17415e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'DM Mono', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button:hover {
  background-color: #3699e0;
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

/* Style for the "Logout" button */
#logoutButton {
  background-color: #2a3844;
}

/* Hover effect for the "Logout" button */
#logoutButton:hover {
  background-color: #3699e0;
}
