body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'DM Mono', sans-serif;
}

#header-container {
  background-color: #2a3844;
  padding-left: 10px;
  padding-right: 2px;
}

#account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#account-level {
  font-size: 0.8em;
}

#logoutButton {
  background-color: #2a3844;
  padding: 2px 5px;
  font-size: 0.8em;
}

#logoutButton:hover {
  background-color: #3699e0;
}

#current-objective {
  text-align: center;
  margin: 10px 0;
}


#current-objective h2 {
  font-size: 0.8em;
}

.countdown-box {
  background-color: #Cb3232ee;
  border-radius: 6px;
  padding: 6px;
  display: inline-block;
}

.countdown-box p {
  margin: 0;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

#map-container {
  text-align: center;
  margin-top: 20px;
}

.box {
  background-color: #17405e9f;
  padding: 6px;
  border-radius: 6px;
  max-width: 80%;
  margin: 0 auto;
}

#map-container img {
  max-width: 100%;
  border-radius: 6px;
}

#coordinates {
  margin: 2px 0;
  font-family: 'DM Mono', sans-serif;
  font-size: 1em;
  color: #afc5d4;
  font-weight: bold;
  letter-spacing: 0.01em;
}

#buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  white-space: nowrap;
}

.button {
  margin: 0 5px;
  padding: 8px 15px;
  background-color: #17415e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'DM Mono', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button:hover {
  background-color: #3699e0;
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

#selectedButton {
  background-color: #17405e9f;
  color: #afc5d4;
}

#instruction-list {
  font-size: 0.5em;
  text-align: left;
  margin: 0 auto;
  max-width: 350px;
}

#chat {
  font-size: 0.5em;
  text-align: left;
  margin: 0 auto;
  max-width: 350px;
  text-align: left;
}

#chat h2 b {
  color: #3699e0;
}
#chat h2 g {
  color: #36e060;
}
#chat h2 r {
  color: #Cb3232ee;
}
